:root {
  --background-color: #ece2d8;
  --text-color: #392f46;
  --primary-color: #e2c982;
  --border-color: #93a8d7;
  --border-color-secondary: #d2a400;
  --highlight-color:rgba(226, 201, 130, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* HEADER STYLING */
/* ------------------------------------------------------------------ */

header {
  padding-bottom: 20px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 3px double var(--border-color-secondary);
}

header h1{
  margin-top: 10px;
  padding: 10px 60px;
  background-color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid var(--border-color);
  border-bottom-right-radius: 45px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 45px;
  border-top-left-radius: 10px;

}

header a {
  text-decoration: none;
  color: var(--text-color);
}

header nav {
  width: 100%;
}

header nav ul {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  flex: 0 80%;
}

header nav ul li {
  text-align: center;
  flex-wrap: wrap;
  padding: 20px;
  width: auto;
}

header nav ul li a {
  font-size: 24px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  color: var(--text-color);
  text-shadow: none;
  text-decoration: underline var(--border-color-secondary) 5px;
}


/* HERO STYLING */
/* ------------------------------------------------------------------- */

.hero {
  background-image: url("../images/hero-image-small.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid var(--border-color-secondary);
  display: flex;
  justify-content: flex-end;
}

.hero-quote {
  width: 40%;
  margin: 170px 0px 15px 200px;
  font-style:italic;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  padding-right: 15px;
  background-color: var(--primary-color);
  background-size: 10px;
  border-left: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-left-radius: 45px;
  border-top-left-radius: 10px;
}

/* TITLE SECTION STYLING & MAIN BORDER STYLING */
/* ------------------------------------------------------------------- */

.section-title {
  width: 75%;
  padding: 10px 20px 10px 10px;
  margin-top: 10px;
  border-bottom: 3px double var(--border-color-secondary);
  text-align: center;
}

.section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.about-me, .application-main, .application-secondary, .application-tertiary, .contact-me {
  border: 3px solid var(--border-color);
  border-left: 10px solid var(--border-color);
  border-bottom: 6px solid var(--border-color);
}

/* ABOUT ME SECTION STYLING */
/* ------------------------------------------------------------------- */

.about-me {
  width: 80%;
  margin: 10px 30px;
  padding: 20px;
  text-align: center;
  background-color: var(--primary-color);
}

/* WORK SECTION STYLING */
/* ------------------------------------------------------------------- */

.work-content {
  width: 80%;
  margin: 0px 20px 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 80%;
}

.application-main, .application-secondary, .application-tertiary {
  background-size: cover;
  margin: 10px 20px 20px 0px;
  position: relative;
}

.application-main {
  background-image: url("../images/Overseer.PNG");
  background-position: top left;
  height: 300px;
  flex: 1 100%;
}

.application-secondary, .application-tertiary {
  background-image: url("../images/run-buddy-background.PNG");
  background-position: center;
  height: 150px;
  flex: 1 50%;
}

.application-tertiary {
  background-image: url("../images/horiseon-background.PNG");
}

.hover-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: var(--highlight-color);
}
  
.app-title {
  position: absolute;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding: 10px 20px;
  width: 50%;
  top: 20%;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-right: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-right-radius: 45px;
  border-top-right-radius: 10px;
}

.application-main .app-title {
  font-size: 20px;
}

.work-content a:hover .hover-effect {
  opacity: 0;
}

.application-secondary:hover .hover-effect {
  opacity: 0;
}

/* CONTACT ME SECTION STYLING */
/* ------------------------------------------------------------------- */

.contact-me {
  width: 80%;
  margin: 10px 30px;
  padding: 20px;
  text-align: center;
  line-height: 2;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color);
}

.section-row nav ul {
  list-style: none;
}

.contact-me a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18.72px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
  width: 10px;
}

.contact-me a:hover {
  color: var(--text-color);
  text-shadow: none;
  text-decoration: underline var(--border-color-secondary) 5px;
}

/* RESPONSIVENESS STYLING START-------------LARGE SCREENS----------------------------------- */

/* Media query for 768px+ -----------Preliminary Large Screen Adjustment--------- */
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 1.7vw;
  }
  .app-title {
    width: 30%;
  }
}

/* Media query for 1200px+ ----------Primary Styling For Large Sceens------------*/
@media screen and (min-width: 1200px) {

  /* HEADER STYLING ----------------- */
  header {
    justify-content: space-between;
  }

  header h1 {
    padding: 10px 60px 10px 100px;
    font-size: 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
  }

  header nav {
    width: 60%;
    margin-right: 5%;
  }

  header nav ul {
    margin-top: 10px;
    justify-content: space-between;
  }

  .hero {
    height: 500px;
  }

  .hero-quote {
    border-right: 40px solid var(--primary-color);
    margin-top: 400px;
  }

  /* PRIMARY BODY SECTION STYLING ------------------------ */
  .body-margin {
    background-color: var(--background-color);
    margin-top: 30px;
    margin-right: 5%;
    margin-bottom: 1px;
    margin-left: 3%;
  }

  .section-row {
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .section-title {
    border-right: 3px double var(--border-color-secondary);
    border-bottom: none;
    font-size: 1.4vw;
    text-align: right;
    flex: 1 10%;
  }
  
  /* WORK SECTION STYLING ---------------- */
  .application-secondary, .application-tertiary {
    flex: 1 45%;
  }

  .app-title{
    font-size: 1.2vw;
  }

  .application-main .app-title {
    font-size: 1.8vw;
  }

  /* CONTACT ME STYLING ----------------- */
  .contact-me {
    padding: 20px 90px;
  }

  .section-row nav ul {
    display: flex;
    justify-content: space-between;
  }
}

/* Medai query for 1718px+ --------------Formatting For Larger Screens-------------*/ 
@media screen and (min-width: 1718px) {
  
  header nav {
    margin-right: 10%;
  }

  .hero-quote {
    font-size: 20px;
    text-align: bottom;
  }

  .section-title {
    font-size: 1.6vw;
  }

  .app-title {
    width: 40%;
  }

  .application-main .app-title {
    width: 30%;
  }

  .body-margin {
    margin-left: 15%;
    margin-right: 8%;
  }
}

/* Medai query for 2100px+ ------------Hero Quote Big Screen Formatting----------------*/ 
@media screen and (min-width: 2100px) {
  .hero-quote {
    width: 1000px;
    font-size: 22px;
  }
  .hero-quote p {
    padding-top: 5px;
  }
}

/* RESPONSIVENESS STYLING CONTINUE-------------SMALL SCREENS---------------------------- */

/* Media query for MAX 620px -----------Nav transition for small screens------------ */
@media screen and (max-width: 620px) {
  header nav {
    width: 60%;
  }
}

/* Media query for MAX 490px ------Nav and Font Size Adjustments for smaller screens-------- */
@media screen and (max-width: 490px) {
  .app-title {
    font-size: 15px;
    padding-left: 0px;
    padding-right: 20px;
  }

  .work-content {
    font-size: 5vw;
  }

  header nav {
    width: 80%;
  }
}

/* Media query for MAX 400px -----------Nav And Font Size Adjustments-------------- */
@media screen and (max-width: 400px) {
  header nav {
    width: 58%;
  }
  .contact-me a {
    font-size: 14px;
  }
}

/* Media query for MAX 290px ---------- Adjustments for smallest screens----------- */
@media screen and (max-width: 290px) {
  .app-title {
    font-size: 12px;
  }

  header h1 {
    border-radius: 0;
  }
  
  header nav {
    width: 80%;
  }

  .hero-quote {
    border: none;
    background: none;
  }

  .hero-quote p{
    display: none;
  }
  
  .contact-me a {
    font-size: 12px;
  }

  .app-title h3 {
    font-size: 10px;
  }
}